@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #0f3057;
  --bleu: #04587a;
  --vert: #008891;
  --white: #e7e7de;
  --rose: #f39189;
  --gris: #61677a;
}

.conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin-top: 0 !important;
}
.contact-form {
  background-color: rgba(97, 103, 122, 0.1) !important;
  margin-top: 0 !important;
}
.background {
  position: fixed;
  z-index: 0;
  top: 0;
  margin-top: 140px;
}
.formulaire {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 2;
  color: black;
  gap: 5px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 100px;
  width: 600px;
  padding: 20px 20px;
}

.p2 {
  z-index: 3;
  width: 700px;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 0px;
  text-align: center;
}
label,
p {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 8px;
}
input {
  background: transparent;
  font-size: 10px;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: none;
}
input:focus {
  background-color: transparent;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  box-shadow: 0 0 0 30px transparent inset;
  -webkit-text-fill-color: inherit !important;
}

select {
  border: none;
}
textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.message,
.liste,
.fichier,
.bouton {
  grid-column: span 1;
  text-align: center;
}
.message,
.liste,
.nom,
.prenom,
.fichier,
.msg,
.tel,
.email,
select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border: none;
  background-color: transparent;
}

.nom input {
  border: none;
  background-color: transparent;
}
.prenom input {
  border: none;
  background-color: transparent;
}
.tel input {
  border: none;
  background-color: transparent;
}
.email input {
  border: none;
  background-color: transparent;
}
.msg textarea {
  border: none;
  background-color: transparent;
}
.trait {
  height: 10px;
  width: 50px;
  background-color: black;
}
.bouton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fichier {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="file"] {
  display: none;
}
.fichier-span {
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 500;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
}

.upload-icon {
  padding-right: 10px;
}
.send {
  background-image: linear-gradient(90deg, var(--vert), var(--navy));
  border: none;
  padding: 10px 200px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 15px #eee;
  border-radius: 23px;
  display: block;
  font-size: 15px;
  position: relative;
  cursor: pointer;
  box-shadow: 8px 8px 10px rgb(0, 0, 0, 0.12);
  margin-bottom: 30px;
}
.send:hover {
  background-image: linear-gradient(180deg, var(--vert), var(--bleu));
}
.send:active {
  background-image: linear-gradient(180deg, var(--vert), var(--bleu));
  transform: translateY(4px) translateX(1px);
}
select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 25px 10px 25px;
  border: none;
  margin: 0 15px 0 15px;
  background-color: #a9a9a9;
  color: black;
}
option {
  background-color: white;
  border-radius: 50px;
  font-size: 15px;
}

select:hover {
  border-color: #555;
}
select:focus {
  outline: none;
}
select::after {
  background-color: red;
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 5px;
}
@media only screen and (max-width: 1024px) {
  .formulaire {
    padding-bottom: 50px;
  }
  label,
  .charger-maquette {
    font-size: 15px;
    margin: none;
  }
  input {
    font-size: 15px;
    padding: none;
    margin: none;
  }
  .message,
  .liste,
  .nom,
  .prenom,
  .fichier,
  .msg,
  .tel,
  .email,
  select {
    padding: 10px 15px 10px 15px;
  }
  .formulaire {
    width: 400px;
  }

  .p2 {
    display: none;
  }
}

.icone {
  padding: 100px 10px 10px 10px;
  width: 60px;
  height: 100px;
}
